<div class="row">
    <div cdkDropList #moviesList="cdkDropList" 
    [cdkDropListData]="todos"
    cdkDragHandle
    [cdkDropListConnectedTo]="[done, doing]" class="col-md-4" (cdkDropListDropped)="drop($event)">
      <h3>Todo</h3>
      <app-todo-list ></app-todo-list>
    </div>
    <div cdkDropList #doing="cdkDropList" 
    [cdkDropListData]="doing"
    cdkDragHandle
    [cdkDropListConnectedTo]="[todos, done]" class="col-md-4" (cdkDropListDropped)="drop($event)">
      <h3>Doing</h3>
      <app-todo-list ></app-todo-list>
    </div>
    <div cdkDropList #done="cdkDropList" 
    [cdkDropListData]="done"
    cdkDragHandle
    [cdkDropListConnectedTo]="[todos, doing]" class="col-md-4" (cdkDropListDropped)="drop($event)">
      <h3>Done</h3>
      <app-todo-list ></app-todo-list>
    </div>
  </div>